.alertPanelContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.alertHeader {
  display: flex;
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.alertRow {
  display: flex;
  border-bottom: 1px solid var(--mantine-color-gray-1);
}

.alertBar {
  position: absolute;
  top: 6px;
  height: 16px;
  border-radius: 4px;
  opacity: 0.85;
  min-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.alertBarLabel {
  white-space: nowrap;
  padding: 0 4px;
}

.timelineTick {
  position: absolute;
  transform: translateX(-50%);
  top: 2px;
}

.timelineGridLine {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed var(--mantine-color-gray-2);
}
