.nodePaper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.nodeBox {
  position: relative;
}

.nodeLabelContainer {
  position: absolute;
  text-align: center;
  width: 160px;
  left: -80px;
  pointer-events: none;
}

.alertBadge {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.alertIcon {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 20;
}

.svgLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.nodePosition {
  position: absolute;
  z-index: 10;
}
