.nodePaper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.nodeBox {
  position: relative;
}
.flowBall {
  r: 3;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--flow-duration, 2s);
  transform-origin: 0 0;
  will-change: transform;
  stroke-width: calc(0.4vw);
}

.nodeLabelContainer {
  position: absolute;
  text-align: center;
  width: 160px;
  left: -80px;
  pointer-events: none;
}

.alertBadge {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.alertIcon {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 20;
}

.svgLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  svg {
    transform: translateZ(0);
    will-change: transform;
  }
}

.nodePosition {
  position: absolute;
  z-index: 10;
}
