.root {
  background-color: var(--mantine-color-gray-1);
  box-shadow: var(--mantine-shadow-sm);
  border: 1px solid var(--mantine-color-gray-3);
  padding: 2px;

  [data-mantine-color-scheme="dark"] & {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }

  &[data-mixed="true"] {
    .indicator {
      background-color: var(--mantine-color-blue-0);
      background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5px,
        rgba(34, 139, 230, 0.1) 5px,
        rgba(34, 139, 230, 0.1) 10px
      );

      [data-mantine-color-scheme="dark"] & {
        background-color: var(--mantine-color-dark-4);
        background-image: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 5px,
          rgba(255, 255, 255, 0.1) 5px,
          rgba(255, 255, 255, 0.1) 10px
        );
      }
    }
  }
}

.label {
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--mantine-color-gray-7);

  [data-mantine-color-scheme="dark"] & {
    color: var(--mantine-color-gray-3);
  }
}

.indicator {
  background-color: var(--mantine-color-white);
  box-shadow: var(--mantine-shadow-xs);

  [data-mantine-color-scheme="dark"] & {
    background-color: var(--mantine-color-dark-4);
    box-shadow: none;
  }
}